.window {
    margin: 0 20px;
    border: 3px dashed gray;
    padding: 30px;
    width: 800px;
    background-color: white;
}

body {
    background-color: #a97;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

.formNewName {
    position: absolute;
    margin: 45px 0 0 640px;
    white-space: nowrap;
}

.formDelete {
    position: absolute;
    display: flex;
    margin: 45px 0 0 640px;
}

.formDelete form {
    margin-left: 40px;
}

.formDelete form input {
    width: 0;
}

.back {
    margin-bottom: 10px;
}

.string {
    margin-left: 20px;
}

.rename {
    float: right;
}

.rename a {
    color: blueviolet;
}

.delete {
    float: right;
    margin-right: 50px;
}

.delete a {
    color: red;
}

.root {
    margin-top: 10px;
}